.miniature-timeline {
  position: relative;
  padding-bottom: 10px;
}

.miniature-timeline__svg {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: n-resize;
  border-radius: 1px;
  opacity: 1;
}

.miniature-timeline__progress-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5px;
  height: 100%;
  background: var(--primary-color);
  /* animation: blinker 1s linear infinite; */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
